.descriptionProfile {
    border-radius: 8;
    background-color: white;
    height: 400px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 480px){
    .descriptionProfile {
        flex-direction: column;
        margin: auto;
        margin-left: 25px;
    }
}

.dataDescript {
    width: 90%;
    height: 100%;
}

.editBtn {
    flex-direction: row;
    height: 280px;
}

@media (max-width: 480px){
    .editBtn {
        height: auto;
        margin-bottom: 10px;
    }
}

.inputData {
    max-width: 35%;
    margin-left: 10px;
    color: black;
    margin-top: -6px;
}

@media (max-width: 480px){
    .inputData {
        max-width: 65%;
        margin-left: 10px;
    }
}

.ranking {
    color: 'gray.200';
}