.modal_overlay {
    background: rgba(10, 10, 10, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content {
    button {
        outline: none;
    }
    outline: none;
    max-width: 550px;
    min-width: 300px;
    background-color: white;
    border-radius: 8px;
}